---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout>
	<main>
		<h1>asdf</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, veniam. Asperiores expedita numquam dicta obcaecati voluptas totam facilis cum accusamus? Consequatur, temporibus sed, autem animi perspiciatis praesentium at odio ipsam.</p>
	</main>
</Layout>

<style>
	
</style>
